<div class="project" style="display:inline-block;">
  {{ if isset .Params "link" }}<a href="{{ .Params.link }}">
    {{else}}<a href="#papers">{{end}}
      <div class="projectshotbox">
        {{ if isset .Params "projectshot" }}<img class="projectshot" src="{{ .Params.projectshot }}" >
        {{else}}<img class="headshot" src="img/book.png">{{end}}
      </div>
      <div class="projectname">
        {{ if isset .Params "link" }}<a href="{{ .Params.link }}">{{ .Title }}</a>
        {{else}}{{.Title}}{{end}}
      </div>
    </a>
  </div>
