{{ partial "header.html" . }}

<div class="content header">
  <!-- {{ .Title }}<br>
  {{ .Site.Params.subtitle }} -->
  <div class="headerlogo"><img id="logo" src="/img/cpllogowhite.svg"></div>
  <div class="headertext">COMPLEX<br>PLAY LAB</div>
</div>

<div class="content">
  <a id="contact"><h3>contact</h3></a>
  <li><a href="https://ci.education.wisc.edu/ci/people/faculty/matthew-berland">matthew berland</a>, director</li>
</div>

<!-- <div class="content">
  <a id="posts"><h3>recent posts</h3></a>
  {{ range (where .Data.Pages "Type" "post") }}
  {{ .Render "li"}}
  {{ end }}
</div> -->

<div class="content">
  <a id="projects"><h3>projects</h3></a>
  {{ range (where .Data.Pages "Type" "projects") }}
  {{ .Render "li"}}
  {{ end }}
</div>

<div class="content">
  <a id="papers"><h3>selected papers</h3></a>
  {{ range (where .Data.Pages "Type" "paper") }}
  {{ .Render "li"}}
  {{ end }}
</div>

<div class="content people" >
  <a id="people"><h3>people</h3></a>
  {{ range (where .Data.Pages "Type" "person") }}
  {{ .Render "li"}}
  {{ end }}
</div>

{{ partial "footer.html" . }}
