{{ partial "head.html" . }}
<div class="content container">
  <ul class="posts">
    {{ range .Data.Pages }}
    <li>
        {{ .Params.year }} 
        &middot;
        {{ if isset .Params "link" }}<a href="{{ .Params.link }}">{{ .Title }}</a> 
        {{ else }} 
            {{ .Title }} 
        {{ end }}
        {{ if isset .Params "categories" }} &middot;
            {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
        {{ end }}
    </li>
    {{ end }}
  </ul>
</div>
{{ partial "foot.html" . }}
